* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  background: #000;
}

body {
  width: 50cm;
  height: 70.7cm;
  overflow: scroll;
  background: #fff;
  margin: auto;
  padding: 1cm 2cm 1cm 3cm;
}

.title-area {
  height: 240px;
  display: flex;
}

.title-area>.title {
  flex: 5;
  font-size: 120pt;
  font-weight: 800;
}

.title-area>.description {
  font-size: 36pt;
  margin: 0 0 0.25cm 0;
  font-weight: 300;
}

.title-area>svg {
  flex: 5;
}

.legend-area {
  width: 50%;
}

.sections {
  padding: 25px 0 0 0;
}

.section {
  height: 12cm;
  margin-bottom: 10px;
  /* border-bottom: 1px solid #ccc; */
}

.section>.section-title {
  font-size: 24pt;
  font-weight: 300;
}

.section-drawing>svg {
  width: 1700px;
  height: 400px;
}