* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  background: #000;
}

body {
  width: 50cm;
  height: 70.7cm;
  overflow: scroll;
  background: #fff;
  margin: auto;
  padding: 2cm;
}

.title-area {
  width: 50%;
  margin-bottom: 1.5cm;
}

.title-area>.title {
  font-size: 72pt;
  font-weight: 800;
}

.title-area>.description {
  font-size: 36pt;
  margin: 0 0 0.25cm 0;
  font-weight: 300;
}

.section {
  height: 8.3cm;
  margin-bottom: 0.5cm;
}

.section>.section-title {
  font-size: 24pt;
  font-weight: 300;
}

.section-drawing>svg {
  width: 1730px;
  height: 250px;
  margin: 10px 0 0 0
}